doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login
  link(rel='stylesheet' href='/login.css')
.login-container
  // header
  .login-header
    h1 Login
  // login-card
  .login-card
    form.login-form(action='/login' method='post')
      .form-group
        .input-icon-wrapper
          input(type='email' name='email' placeholder='Enter your email' required='')    
      .form-group
        .input-icon-wrapper
          input(type='password' name='password' placeholder='Enter your password' required='')
      button.btn-login(type='submit') LOGIN
    // Footer-links
    .auth-footer
        | Don't have an account -
        a(href='/signup') Signup
